
.card {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#110c08+0,444444+50,0a0a0a+100&0.8+2,0.8+100 */
background: -moz-linear-gradient(top,  rgba(17,12,8,0.8) 0%, rgba(19,14,10,0.8) 2%, rgba(68,68,68,0.8) 50%, rgba(10,10,10,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(17,12,8,0.8) 0%,rgba(19,14,10,0.8) 2%,rgba(68,68,68,0.8) 50%,rgba(10,10,10,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(17,12,8,0.8) 0%,rgba(19,14,10,0.8) 2%,rgba(68,68,68,0.8) 50%,rgba(10,10,10,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc110c08', endColorstr='#cc0a0a0a',GradientType=0 ); /* IE6-9 */

}

.btn-success {
    color: #000;
    background-color: #d6d6d6;
    border-color: #373737;
    font-size: larger;
    font-weight: 600;
}

.btn-danger {
    color: #fff;
    background-color: #5c010a;
    border-color: #373737;
    font-weight: 600;
}

.btn-success:hover {
    color: #000;
    background-color: #ffffff;
    border-color: #555a56;
}

button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #101010;
    background-color: #b2b2b2;
    border-color: #1e1e1e;
}

.btn-danger2 {
    color: #fff !important;
    background-color: #5c010a;
    border-color: #373737;
    font-weight: 600;
}